In [7]:
import pandas as pd
from journal_entry import JournalEntry

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rashmiananth/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/rashmiananth/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rashmiananth/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/rashmiananth/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [8]:
entries = pd.read_csv('T2E experiment/entries.csv')
entries['date'] = pd.to_datetime(entries['date'])
entries['entry'] = entries['entry'].astype(str)

In [9]:
entries

         date                                              entry
0  2011-03-29  Tomorrow we are going to Florida! We are going...
1  2011-04-12  I can finally say that I’ve gone to NASA. We s...
2  2011-04-19  Today we switched desks and now I sit next to ...
3  2011-04-21  Today I learned long division. I got a 100% on...
4  2011-04-28                   I don’t feel like writing today.
5  2011-05-10  Today I got a nosebleed. I played kickball and...
6  2011-08-23  I went to Toronto a few days ago. We drove thr...
7  2012-06-16  Yesterday, I had summer school. In creative wr...
8  2012-06-18  Today in writing. We wrote about who you would...
9  2012-07-18  My cousins left today.  I really miss them! Ye...
10 2012-07-19  I have great news! I started reading the seven...
11 2012-12-30  Yesterday was my skating recital! It was reall...

In [10]:
username = 'rashmii'
date = entries.loc[1][0]
title = 'Florida Trip'
entry = entries.loc[1][1]
status = 'submitted'

In [11]:
jentry = JournalEntry(username, title, entry, date, status)

In [12]:
jentry.get_entry()

'I can finally say that I’ve gone to NASA. We saw moon rockets and tried astronaut ice cream! Who cares about that though?! The really cool thing I saw was Hogwarts! I saw a wand demonstration, went to the forbidden forest, drank butter beer, and got tons of candy from Honeydukes. I had so much fun on my vacation and I’m so glad that I get to bring Dorothy my pink pigmepuff back home with me!'

In [13]:
jentry.t2e_set_entry_mood_analysis()

In [14]:
jentry.t2e_get_entry_mood_analysis()

{'Happy': 0.21, 'Angry': 0.0, 'Surprise': 0.21, 'Sad': 0.29, 'Fear': 0.29}

In [15]:
jentry.t2e_set_sent_mood_analysis()

In [16]:
jentry.t2e_get_sent_mood_analysis()

[{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.33, 'Sad': 0.0, 'Fear': 0.67},
 {'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad': 0, 'Fear': 0},
 {'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, 'Sad': 1.0, 'Fear': 0.0},
 {'Happy': 0.33, 'Angry': 0.0, 'Surprise': 0.67, 'Sad': 0.0, 'Fear': 0.0},
 {'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, 'Sad': 0.0, 'Fear': 1.0},
 {'Happy': 0.5, 'Angry': 0.0, 'Surprise': 0.0, 'Sad': 0.5, 'Fear': 0.0}]

In [17]:
jentry.polarity_set_entry_mood_analysis()

In [18]:
jentry.polarity_get_entry_mood_analysis()

{'neg': 0.034,
 'neu': 0.777,
 'pos': 0.189,
 'compound': 0.9154,
 'cummulative': 0.18958333333333333}

In [19]:
jentry.polarity_set_sent_mood_analysis()

In [20]:
jentry.polarity_get_sent_mood_analysis()

[{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0, 'cummulative': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0, 'cummulative': 0.0},
 {'neg': 0.0,
  'neu': 0.549,
  'pos': 0.451,
  'compound': 0.5093,
  'cummulative': 0.0},
 {'neg': 0.0,
  'neu': 0.675,
  'pos': 0.325,
  'compound': 0.4376,
  'cummulative': 0.4375},
 {'neg': 0.139,
  'neu': 0.792,
  'pos': 0.069,
  'compound': -0.34,
  'cummulative': 0.0},
 {'neg': 0.0,
  'neu': 0.731,
  'pos': 0.269,
  'compound': 0.8288,
  'cummulative': 0.17500000000000002}]